<mat-card *ngIf='book' class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ book.name }}</mat-card-title>
        <mat-card-subtitle>{{ book.authors }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h2 class="properties">Properties:</h2>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item> ISBN: {{ book.isbn }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Number of pages: {{ book.numberOfPages }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Publisher: {{ book.publisher }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Country: {{ book.country }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Realeased: {{ book.released | date }} </mat-list-item>
        </mat-list>
        <h2 class="properties">Characters:</h2>
        <mat-list>
            <div *ngFor="let character of characters">
                <mat-divider></mat-divider>
                <mat-list-item routerLink="/characters/{{ character.id }}"> {{character.name}} </mat-list-item>
            </div>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>