<mat-card *ngIf='character' class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{character.name }}</mat-card-title>
        <mat-card-subtitle>{{ character.titles}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h2>Properties:</h2>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>Born: {{ character.born }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Died: {{ character.died }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Aliases: {{ character.aliases }}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <br>

          <h2>Houses</h2>
          <mat-list >
            <div *ngFor='let house of houses'>
                <mat-divider></mat-divider>
                <mat-list-item routerLink='/houses/{{ house.id }}'>{{ house.name }}</mat-list-item>    
            </div>
          </mat-list>

          <h2>Books:</h2>
          <mat-list >
            <div *ngFor='let book of books'>
                <mat-divider></mat-divider>
                <mat-list-item routerLink='/books/{{ book.id }}'>{{ book.name }}</mat-list-item>    
            </div>
          </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>